{
  "rules": {
    "indentation": 2,
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "max-empty-lines": 2,
    "unit-whitelist": ["px", "em", "rem", "%", "s", "deg"]
  }
}
